<h1>Dashboard</h1>
<p> Welcome <%= user.passCode %></p>

<a href="/chathall/chatroom-<%= game.passCode %>">Chat</a>
<a href="/logintuto/users/logout">Logout</a>

<!-- Well deleting works now, but it might not be the safest option. -->
<form action="/logintuto/users/<%= game.passCode %>/dashboard" method="POST" style="display:inline;">
<!--     <input type="hidden" name="email" value="<%= user.email%>"> -->
	<input type="hidden" name="gamecode" value="<%= game.passCode %>">
    <input type="submit" value="Delete Account">
</form>